{% extends 'base_page.html' %}
{% load static %}

{% block title %}
    Product List
{% endblock title %}

{% block container %}
<!-- breadcrumb part start-->
<section class="breadcrumb_part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <h2>product list</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb part end-->

<!-- product list part start-->
<section class="product_list section_padding">
    <div class="container">
        <div class="row">
                {% for product in object_list %}
                {% if product.stock > 0 %}
					<div class="col-12 col-lg-4 col-md-6 item">
                        <div class="card" style="width: 18rem;">
                            <form method="post" action="{% url 'add_item_to_cart' product.pk %}">
                                <img src="{{product.image_url}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="card-title">{{ product.name}}</h4>
                                    <p class="card-text">
                                        {{ product.note }}
                                    </p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Price: {{ product.price }}</li>
                                    <li class="list-group-item">
										{% csrf_token %}
										<label class="form-label" for="id_quantity">Quantity:</label>
										<input type="number" name="quantity" value="1" min="1" max="{{ product.stock }}"
											   required id="id_quantity"/>
                                    </li>
                                </ul>
                                <div class="card-body">
                                    {% if user.is_authenticated %}
                                    <button class="btn_1" type="submit">buy now</button>
                                    {% else %}
                                    <a class="btn_1" href="{% url 'login_user' %}">buy now</a>
                                    {% endif %}
                                    {% if user.is_staff %}
                                        <a class="btn_1" href="{% url 'product_edit' pk=product.pk %}">edit</a>
                                    {% endif %}
                                    <br><br>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
        </div>
    </div>
</section>
<!-- product list part end-->

<!-- client review part here -->
<section class="client_review">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="client_review_slider owl-carousel">
                    <div class="single_client_review">
                        <div class="client_img">
                            <img src="{% static 'img/client.png' %}" alt="#">
                        </div>
                        <p>"I recently bought a pillow from this online store and I'm very happy with my purchase. The quality is excellent, and the pillow is very comfortable. The ordering process was easy, and the delivery was fast. I would highly recommend this store for anyone looking for a good quality pillow.</p>
                        <h5>- Micky Mouse</h5>
                    </div>
                    <div class="single_client_review">
                        <div class="client_img">
                            <img src="{% static 'img/client_1.png' %}" alt="#">
                        </div>
                        <p>"I ordered a pillow from this online store and I'm impressed with the overall experience. The website is user-friendly, and the checkout process was straightforward. The pillow itself is of great quality, with a soft and supportive feel. I'm satisfied with my purchase and would recommend this store to others.</p>
                        <h5>- Micky Mouse</h5>
                    </div>
                    <div class="single_client_review">
                        <div class="client_img">
                            <img src="{% static 'img/client_2.png' %}" alt="#">
                        </div>
                        <p>"I came across this online store while searching for a new pillow, and I'm glad I did. The selection of pillows is impressive, and after comparing different options, I found the perfect one for me. The pillow arrived quickly and is incredibly comfortable. I'm very pleased with my purchase and would definitely buy from this store again.</p>
                        <h5>- Micky Mouse</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- client review part end -->

<!-- feature part here -->
<section class="feature_part section_padding">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <div class="feature_part_tittle">
                    <h3>Credibly innovate granular
                        internal or organic sources
                    whereas standards.</h3>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="feature_part_content">
                    <p>Seamlessly empower fully researched growth strategies and interoperable internal or “organic” sources. Credibly innovate granular internal or “organic” sources whereas high standards in web-readiness.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="single_feature_part">
                    <img src="{% static 'img/icon/feature_icon_1.svg' %}" alt="#">
                    <h4>Credit Card Support</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_feature_part">
                    <img src="{% static 'img/icon/feature_icon_2.svg' %}" alt="#">
                    <h4>Online Order</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_feature_part">
                    <img src="{% static 'img/icon/feature_icon_3.svg' %}" alt="#">
                    <h4>Free Delivery</h4>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_feature_part">
                    <img src="{% static 'img/icon/feature_icon_4.svg' %}" alt="#">
                    <h4>Product with Gift</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- feature part end -->

{% endblock container %}
