{% extends 'base_page.html' %}
{% load static %}

{% block title %}
	Catalog
{% endblock title %}

{% block container %}
<!-- breadcrumb part start-->
<section class="breadcrumb_part">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breadcrumb_iner">
					<h2>catalog</h2>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- breadcrumb part end-->

<!-- ================ contact section start ================= -->
<section class="contact-section section_padding">
	<div class="container">
		<div class="col-lg-6 col-md-7">
			<div class="login_part_form">
				<div class="login_part_form_iner">
					<h3>New product</h3>
					<form method="POST" class="row contact_form" novalidate="novalidate">
						{% csrf_token %}
						<div class="col-md-12 form-group p_star">
							<input type="text" class="form-control" id="id_name" name="name" value=""
							placeholder="Product name">
						</div>
						<div class="col-md-12 form-group p_star">
							<input type="text" class="form-control" id="id_code" name="code" value=""
							placeholder="Product code">
						</div>
						<div class="col-md-12 form-group p_star">
							<input type="number" class="form-control" id="id_price" name="price" value=""
							placeholder="Price">
						</div>
						<div class="col-md-12 form-group p_star">
							<input type="number" class="form-control" id="id_stock" name="stock" value=""
							placeholder="Stock">
						</div>
						<div class="col-md-12 form-group p_star">
							<input type="text" class="form-control" id="id_image_url" name="image_url" value=""
							placeholder="Image url">
						</div>
						<div class="col-md-12 form-group p_star">
							<input type="text" class="form-control" id="id_note" name="note" value=""
							placeholder="Note">
						</div>
						<button type="submit" class="btn_3">Save</button>
					</form>
				</div>
			</div>
		</div>
		
	</div>
</section>
<!-- ================ contact section end ================= -->

{% endblock container %}
