{% extends 'base-page.html' %}
{% load static %}


{% block title %}
    register
{% endblock title %}

{% block container %}

    <!-- breadcrumb part start-->
    <section class="breadcrumb_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <h2>register</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb part end-->

    <!--================login_part Area =================-->
    <section class="login_part section_padding ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_text text-center">
                        <div class="login_part_text_iner">
                            <h2>Welcome Back !</h2>
                            <p>Please Sign In now</p>
                            <a href="{% url 'login_user' %}" class="btn_3">Sign In</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_form">
                        <div class="login_part_form_iner">
                            <h3>New to our Shop? <br>
                                Please Sign Up</h3>
                            <form class="row contact_form" action="{% url 'register' %}" method="post" novalidate="novalidate">
                                {% csrf_token %}
                                
                                <div class="col-md-12 form-group p_star">
                                    <input type="text" class="form-control" id="name" name="name" value=""
                                        placeholder="Username">
                                </div>
                                <div class="col-md-12 form-group p_star">
                                    <input type="password" class="form-control" id="password" name="password" value=""
                                        placeholder="Password">
                                </div>
                                <div class="col-md-12 form-group">
                                    <div class="creat_account d-flex align-items-center">
                                        
                                    </div>
                                    {% for field in user_form %}
                                        <div class="col-md-12 form-group p_star">
                                            <!-- <input type="text" class="form-control" id="name" name="name" value=""
                                                placeholder="Username"> -->
                                            {{ field.errors }}
                                            {{ field }}
                                        </div>
                                    {% endfor %}
                                    <button type="submit" value="submit" class="btn_3">
                                        log up
                                    </button>
                                    <a class="lost_pass" href="#">forget password?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================login_part end =================-->

    <!--::footer_part start::-->
    {% endblock container %}